.ant-carousel .slick-slide {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    height: 320px;
    width: 180px;
    line-height: 160px;
    background-color: #fafafa;
    overflow: hidden;
}

/*.ant-carousel .slick-slide h3 {*/
    /*color: black;*/
/*}*/

/*.photos {*/
    /*pointer-events: none;*/
    /*text-align: center;*/
    /*float: right;*/
    /*height: 260px;*/
    /*width: 200px;*/
/*}*/

.photos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 20%;
}