.tracking-page {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right:auto;
    width: 1000px;
}

.tracking-status {
    font-size: 30pt;
    margin-top:10px;
    margin-bottom: 20px;
}

.tracking-bar {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 50px;
}

.delivery-time{
    font-size: 30pt;
    margin-top: 10px;
    margin-bottom: 10px;
}