.tracking-page {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right:auto;
    width: 1000px;
}

.tracking-status {
    font-size: 22pt;
    margin-top:20px;
    margin-bottom: 50px;
}

.tracking-bar {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: 50px;
}

.delivery-time{
    font-size: 22pt;
    margin-top: 30px;
    margin-bottom: 10px;
}